@font-face {
    font-family: bitter;
    src: url('../fonts/Bitter-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: bitter;
    src: url('../fonts/Bitter-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: bitter;
    src: url('../fonts/Bitter-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: bitter;
    src: url('../fonts/Bitter-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

html{
  font-family: bitter, sans-serif;
}

body {
  font-family: bitter, sans-serif;
  padding-top: 50px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.err-msg {
    color: #ee0e0e;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: -5px;
}

.question-font{
    font-weight: bold;
}

.business-header {
    height: 350px;
    background: url('../img/people-network.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

.front-col{
    background-color: #eef;
    border-radius: 25px;
}

.btn-primary{
    margin-top: 7px;
    margin-bottom: 15px;
}

.row{
    padding-top: 10px;
}
.row-form:hover {
  background-color: #f2f2f6;
}