@font-face {
    font-family: 'Bitter';
    src: font_url('Montserrat-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
  padding-top: 70px;
  padding-bottom: 50px;
  font-family: Montserrat-Regular, Montserrat, sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.err-msg {
    color: #cc1111;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: -5px;
}

.row {
    border-bottom: solid 1px #cce;
    padding-top: 20px;
}

.question-font{
    font-weight: bold;
}
