<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>My application</title>

      <!-- Bootstrap core CSS -->
      <link href="static/css/bootstrap.min.css" rel="stylesheet">
      <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
      <!-- Custom styles for this template-->
      <link href="static/css/theme.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <![endif]-->
   </head>

    <body role="document">

    {% with messages = get_flashed_messages() %}
       {% if messages %}
          {% for message in messages %}
             {{ message }}
          {% endfor %}
       {% endif %}
    {% endwith %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Ankiet.app</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Główna</a></li>
            <li><a href="/form">Ankieta</a></li>
            <li><a href="/result">Analiza wyników</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      {% block content %}{% endblock %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script>
        $(function() {
            $("input:radio").click(function () {
                var name = $(this).attr('name');
                $("#"+name+"test").css('display', ($(this).val() > "0") ? 'block':'none');
                if(name.substring(0,1) == 'q'){
                		if(name.length == 3) {var errid = 'errq10';}
                    else {var errid = 'errq' + name.substring(1,2);}
                }
                else{
                		if(name.length == 9) {var errid = 'erra10';}
                    else {var errid = 'erra' + name.substring(3,4);}
                }
                if ($('input[name="' + name + '"]:checked').length != 0) {
                    $("#"+errid).html("");
                }
            });
        });

        $(function () {
            $('form').submit(function (){
                //Make groups
                var names = ['q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10'];
                var qnumbers = [];

                var radioError = false;
                $.each(names, function (i, name) {
                    if ($('input[name="' + name + '"]:checked').length == 0) {
                        radioError = true;
                        var errid = 'errq' + (i+1);
                        $("#"+errid).html("Przegapiłaś/eś to pytanie");
                    }
                    else {
                          var errid = 'errq' + (i+1);
                        $("#"+errid).html("");
                        }
                    var value = $('input[name=' + name + ']:radio:checked').val()
                    if(value > 0){
                            qnumbers.push(i+1);
                    }
                });
                //check for error

                $.each(qnumbers, function (i, name) {
                    if ($('input[name="ans' + name + 'test"]:checked').length == 0) {
                        radioError = true;
                        var errid = 'erra' + qnumbers[i];
                        $("#"+errid).html("Przegapiłaś/eś to pytanie");
                    }
                    else {
                          var errid = 'erra' + qnumbers[i];
                        $("#"+errid).html("");
                        }
                });

                if(radioError) {
                    alert("Nie wszystkie wymagane pola zostały uzupełnione!");
                    return false;
                }
                return true;
            });
        });


      </script>
  </body>
</html>
