<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<div class="page-header">
    <h1>Zapraszamy do wypełnienia ankiety</h1>
    <h2>Wypełnienienie nie powinno zająć więcej niż 5 minut</h2>
</div>

<form role="form" action="/save" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="age">Podaj swój wiek:</label>
                    <select name="age">
                        <option value="1">15 i mniej lat</option>
                        <option value="2">16 - 25 lat</option>
                        <option value="3">26 - 35 lat</option>
                        <option value="4">36 - 45 lat</option>
                        <option value="5">46 i więcej lat</option>
                    </select>
                </div>
            </div>
        </div>
        <h3>Pytania</h3>
        <!-- PIERWSZE PYTANIE -->
        <div class="row">
            <div class="col-md-6 form-group" id="q1">Czy znasz ten skrót: " "?

                    <label class="radio">
                      <input type="radio" name="q1" value="0">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="q1" value="1">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="q1" value="1">Na pewno wiem, co oznacza
                    </label>

            </div>
            <div class="col-md-6" id="q1test" style="display:none">Podaj znaczenie tego skrótu:
                <label class="radio">
                      <input type="radio" name="ans1test" value="1">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans1test" value="0">Spotkałam/em się, ale nie wiem co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans1test" value="0">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans1test" value="0" default>Na pewno wiem, co oznacza
                    </label>
            </div>
        </div>

        <!-- DRUGIE PYTANIE -->
         <div class="row">
            <div class="col-md-6 form-group" id="q2">Czy znasz ten skrót: " "?

                    <label class="radio">
                      <input type="radio" name="q2" value="0">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="q2" value="1">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="q2" value="1">Na pewno wiem, co oznacza
                    </label>

            </div>
            <div class="col-md-6" id="q2test" style="display:none">Podaj znaczenie tego skrótu:
                <label class="radio">
                      <input type="radio" name="ans2test" value="1">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans2test" value="0">Spotkałam/em się, ale nie wiem co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans2test" value="0">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans2test" value="0" default>Na pewno wiem, co oznacza
                    </label>
            </div>
        </div>

        <!-- TRZECIE PYTANIE -->
         <div class="row">
            <div class="col-md-6 form-group" id="q3">Czy znasz ten skrót: " "?

                    <label class="radio">
                      <input type="radio" name="q3" value="0">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="q3" value="1">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="q3" value="1">Na pewno wiem, co oznacza
                    </label>

            </div>
            <div class="col-md-6" id="q3test" style="display:none">Podaj znaczenie tego skrótu:
                <label class="radio">
                      <input type="radio" name="ans3test" value="1">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans3test" value="0">Spotkałam/em się, ale nie wiem co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans3test" value="0">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans3test" value="0" default>Na pewno wiem, co oznacza
                    </label>
            </div>
        </div>

        <!-- CZWARTE PYTANIE -->
         <div class="row">
            <div class="col-md-6 form-group" id="q4">Czy znasz ten skrót: " "?

                    <label class="radio">
                      <input type="radio" name="q4" value="0">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="q4" value="1">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="q4" value="1">Na pewno wiem, co oznacza
                    </label>

            </div>
            <div class="col-md-6" id="q4test" style="display:none">Podaj znaczenie tego skrótu:
                <label class="radio">
                      <input type="radio" name="ans4test" value="1">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans4test" value="0">Spotkałam/em się, ale nie wiem co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans4test" value="0">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans4test" value="0" default>Na pewno wiem, co oznacza
                    </label>
            </div>
        </div>

        <!-- PIĄTE PYTANIE -->
         <div class="row">
            <div class="col-md-6 form-group" id="q5">Czy znasz ten skrót: " "?

                    <label class="radio">
                      <input type="radio" name="q5" value="0">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="q5" value="1">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="q5" value="1">Na pewno wiem, co oznacza
                    </label>

            </div>
            <div class="col-md-6" id="q5test" style="display:none">Podaj znaczenie tego skrótu:
                <label class="radio">
                      <input type="radio" name="ans5test" value="1">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans5test" value="0">Spotkałam/em się, ale nie wiem co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans5test" value="0">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans5test" value="0" default>Na pewno wiem, co oznacza
                    </label>
            </div>
        </div>

        <!-- SZÓSTE PYTANIE -->
         <div class="row">
            <div class="col-md-6 form-group" id="q6">Czy znasz ten skrót: " "?

                    <label class="radio">
                      <input type="radio" name="q6" value="0">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="q6" value="1">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="q6" value="1">Na pewno wiem, co oznacza
                    </label>

            </div>
            <div class="col-md-6" id="q6test" style="display:none">Podaj znaczenie tego skrótu:
                <label class="radio">
                      <input type="radio" name="ans6test" value="1">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans6test" value="0">Spotkałam/em się, ale nie wiem co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans6test" value="0">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans6test" value="0" default>Na pewno wiem, co oznacza
                    </label>
            </div>
        </div>

        <!-- SIÓDME PYTANIE -->
         <div class="row">
            <div class="col-md-6 form-group" id="q7">Czy znasz ten skrót: " "?

                    <label class="radio">
                      <input type="radio" name="q7" value="0">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="q7" value="1">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="q7" value="1">Na pewno wiem, co oznacza
                    </label>

            </div>
            <div class="col-md-6" id="q7test" style="display:none">Podaj znaczenie tego skrótu:
                <label class="radio">
                      <input type="radio" name="ans7test" value="1">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans7test" value="0">Spotkałam/em się, ale nie wiem co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans7test" value="0">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans7test" value="0" default>Na pewno wiem, co oznacza
                    </label>
            </div>
        </div>

        <!-- ÓSME PYTANIE -->
         <div class="row">
            <div class="col-md-6 form-group" id="q8">Czy znasz ten skrót: " "?

                    <label class="radio">
                      <input type="radio" name="q8" value="0">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="q8" value="1">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="q8" value="1">Na pewno wiem, co oznacza
                    </label>

            </div>
            <div class="col-md-6" id="q8test" style="display:none">Podaj znaczenie tego skrótu:
                <label class="radio">
                      <input type="radio" name="ans8test" value="1">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans8test" value="0">Spotkałam/em się, ale nie wiem co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans8test" value="0">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans8test" value="0" default>Na pewno wiem, co oznacza
                    </label>
            </div>
        </div>

        <!-- DZIEWIĄTE PYTANIE -->
         <div class="row">
            <div class="col-md-6 form-group" id="q9">Czy znasz ten skrót: " "?

                    <label class="radio">
                      <input type="radio" name="q9" value="0">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="q9" value="1">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="q9" value="1">Na pewno wiem, co oznacza
                    </label>

            </div>
            <div class="col-md-6" id="q9test" style="display:none">Podaj znaczenie tego skrótu:
                <label class="radio">
                      <input type="radio" name="ans9test" value="1">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans9test" value="0">Spotkałam/em się, ale nie wiem co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans9test" value="0">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans9test" value="0" default>Na pewno wiem, co oznacza
                    </label>
            </div>
        </div>

        <!-- DZIESIĄTE PYTANIE -->
         <div class="row">
            <div class="col-md-6 form-group" id="q10">Czy znasz ten skrót: " "?

                    <label class="radio">
                      <input type="radio" name="q10" value="0">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="q10" value="1">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="q10" value="1">Na pewno wiem, co oznacza
                    </label>

            </div>
            <div class="col-md-6" id="q10test" style="display:none">Podaj znaczenie tego skrótu:
                <label class="radio">
                      <input type="radio" name="ans10test" value="1">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans10test" value="0">Spotkałam/em się, ale nie wiem co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans10test" value="0">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans10test" value="0" default>Na pewno wiem, co oznacza
                    </label>
            </div>
        </div>

        <button type="submit" class="btn btn-default">Save</button>

    </div>
</form>


{% endblock %}



