<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<div class="page-header">
    <h1>Zapraszamy do wypełnienia ankiety</h1>
    <h2>Wypełnienienie nie powinno zająć więcej niż 5 minut</h2>
</div>

<form role="form" action="/save" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="age">Podaj swój wiek:</label>
                    <input type="number" class="form-control" id="age" name="age" min="1" max="100" required>
                </div>
            </div>
        </div>
        <h3>Pytania</h3>
        <div class="row">
            <div class="col-md-6 form-group" id="q1">Czy znasz ten skrót: " "?

                    <label class="radio">
                      <input type="radio" name="ans1" value="1">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans1" value="2">Spotkałam/em się, ale nie wiem co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans1" value="3">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans1" value="4">Na pewno wiem, co oznacza
                    </label>

            </div>
            <div class="col-md-6" id="q1test" style="display:none">Podaj znaczenie tego skrótu:
                <label class="radio">
                      <input type="radio" name="ans1test" value="1">W życiu się nie spotkałam/em
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans1test" value="2">Spotkałam/em się, ale nie wiem co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans1test" value="3">Raczej wiem, co oznacza
                    </label>
                    <label class="radio">
                      <input type="radio" name="ans1test" value="4">Na pewno wiem, co oznacza
                    </label>
            </div>
        </div>




                <button type="submit" class="btn btn-default">Save</button>

    </div>
</form>


{% endblock %}



