<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<body>


    <div class="container">

        <div class="row">
            <div class="col-sm-8 front-col">
                <h2>Dlaczego</h2>
                <p>Szybki postęp technologiczny, ciągle rosnąca popularność Internetu i smartfonów wprowadziła do słownika młodych (i nie tylko) ludzi nowe słownictwo, a przede wszystkim wiele skrótów, których znajomość postanowiliśmy przetestować</p>
                <p><strong>10 skrótów o zróżnicowanym stopniu trudności.</strong> Jak bardzo starsi odstają w znajomości slangu internetowego od młodych? Czy znajomość skrótów pochodzących z język polskiego jest rzeczywiście większa niż angielskich?</p>
                <a class="btn btn-primary" href="/form">Rozwiąż quiz &raquo;</a>
            </div>
            <div class="col-sm-4">
                <h2>Autorzy</h2>
                <h3>Kamelia Niemczyk</h3><p>E-mail: kamelia.niemczyk@gmail.com</p>
                <h3>Piotr Olbrot</h3><p>E-mail: piotrolbrot@gmail.com</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <h2>{{ no_of_participants }}</h2>
                <p>Tyle osób wypełniło naszą ankietę. Zachęcamy do powiększenia tej liczby o 1.</p>
            </div>
            <div class="col-sm-4">
                <h2>{{ mean }} / 20</h2>
                <p>To średni wynik wszystkich uczestników naszej ankiety.</p>
            </div>
            <div class="col-sm-4">
                <h2>{{ older_mean }} / 20</h2>
                <p>To z kolei wynik uczestników w wieku 36 i więcej.</p>
            </div>
        </div>

</div>

</body>



{% endblock %}